.Display {
  background-color: grey;
  color: white;
  width: 100%;
  height: 100%;
}

@media (min-width: 400px) {
  .Display {
    background-color: grey;
    color: white;
    width: 400px;
    height: 150px;
  }
}


